body {
  font-family: 'Valorant', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #1f1f1f;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
}

footer {
  background-color: #1f1f1f;
  color: #fff;
  padding: 1rem;
  text-align: center;
}